<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>FUTO Notes uses the camera to take photos and insert them into your notes.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>FUTO Notes accesses your photo library to insert images into your notes.</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>FUTO Notes connects to a sync server on your local network.</string>
</dict>
</plist>
